LINEAR_API_KEY=
LINEAR_STATUS_ASSIGNED=Todo
LINEAR_STATUS_PLANNING=In Progress
LINEAR_STATUS_IMPLEMENTING=In Progress
LINEAR_STATUS_PR_CREATED=In Review
LINEAR_STATUS_REVIEWING=In Review
LINEAR_STATUS_TESTING=In Review
LINEAR_STATUS_BLOCKED=Canceled
LINEAR_STATUS_DONE=Done
LINEAR_LABEL_PR_CREATED=PR Created
LINEAR_LABEL_REVIEWING=Reviewing
LINEAR_LABEL_TESTING=Testing
LINEAR_AUTO_CREATE_LABELS=1

GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_BASE_BRANCH=main

PIV_WORKSPACE_PATH=
PIV_EXECUTION_PATH=
PIV_DRY_RUN=0
PIV_DEV_MODE=0
PIV_LOG_LEVEL=info
PIV_LOG_PRETTY=1
CODEX_SANDBOX=
